@model IEnumerable<QUTSurfers.Models.Members>

@{
	ViewBag.Title = "Members Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr/>
<h4>QUT Surfers Club Members Details</h4>
<hr/>

@if (!Model.Any())
{
	<p>We don't have any members yet.</p>
}
else
{
	<table id="members" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Date Added</th>
			<th>Student Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Intl?</th>
			<th>Level of Surfing</th>
			<th>Paid</th>
			<th>Validation</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var member in Model)
		{
			<tr>
				<td>@member.DateAdded.ToString("dd MMM yyy")</td>
				<td>@member.StudentNumber</td>
				<td>@Html.ActionLink(member.FirstName + " " + member.LastName, "Edit", "Members", new { id = member.Id }, null)</td>
				<td>@member.Email</td>
				<td>@member.PhoneNumber</td>
				<td>@member.IntlStudent</td>
				<td>@member.SurfingLevel.Name</td>
				<td>@member.PaymentType.Name</td>
				
					@if (member.PaymentApproval.Equals(true))
					{
					    <td><a class='btn btn-xs btn-success' href='#" + member.id + "'>Confirmed</a></td>
					  
					}
					else
					{
					    <td><a class='btn btn-xs btn-danger' href='#'>Pending</a></td>
					}

			</tr>    }
		</tbody>

	</table>

	<div class="row">
		
	</div>
	<br/>
	
}

@section scripts
{
	<script>
		$(document).ready(function(){
			$("#members").DataTable();
		});
	</script>

}
<script src="~/Scripts/QUTSurfersScripts/ExportMembersTable.js" type="text/javascript" language="javascript"></script>	


