@using System.Web.Services.Protocols
@model QUTSurfers.ViewModels.MemberFormViewModel
@{
    ViewBag.Title = "StudentForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("Save", "Members"))
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <hr />
            <h2><strong>QUT Surfers Club Membership</strong></h2>
            <hr />
            @Html.ValidationSummary(true, "Please fix the following errors.")
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-4">

            <div class="form-group">
                @Html.LabelFor(m => m.Student.FirstName)
                @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.FirstName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Student.LastName)
                @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.LastName)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Student.PhoneNumber)
                @Html.TextBoxFor(m => m.Student.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.PhoneNumber)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Student.Email)
                @Html.TextBoxFor(m => m.Student.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.Email)
            </div>

        </div>
        <div class="col-md-4">

            <div class="form-group">
                @Html.LabelFor(m => m.Student.StudentNumber)
                @Html.TextBoxFor(m => m.Student.StudentNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.StudentNumber)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Student.SurfingLevelId)
                @Html.DropDownListFor(m => m.Student.SurfingLevelId, new SelectList(Model.LevelOfSurfing, "Id", "Name"), "Select Surfing Level", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Student.SurfingLevelId)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Student.PaymentTypeId)
                @Html.DropDownListFor(m => m.Student.PaymentTypeId, new SelectList(Model.PaymentType, "Id", "Name"), "Select Payment Type", new { @class = "form-control js-payvalidation" })
                @Html.ValidationMessageFor(m => m.Student.PaymentTypeId)
                <p>NOTE: Cash payment available only during O-Week</p>
               
            </div>

            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Student.IntlStudent)Are you an international or exchange student?

                </label>
            </div>
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.Student.PaymentApproval, new { @class = "hidden" })
                   
                </label>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>

    <!--Last Row for Submit button-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" align="center">
            <button type="submit" class="btn btn-primary">Submit</button><br /><br /><br />
        </div>

        <div class="col-md-2"></div>
    </div>
}

<script>

    $("#Student_PaymentTypeId").change(function () {
        if ($('#Student_PaymentTypeId :selected').text() === 'Cash') {
            $('#Student_PaymentApproval').prop('checked', true);
        } else {
            $('#Student_PaymentApproval').prop('checked', false);
        }

    });
</script>

<footer>


    <a href="https://www.facebook.com/qutsurf/" class="fa fa-facebook"></a>
    <a href="https://www.instagram.com/qutsurfers/?hl=en" class="fa fa-instagram"></a>
    &copy; @DateTime.Now.Year - QUT SURFERS


</footer>